@model UniversityManagementWebDotNet.Models.DAO.Room

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<button>@Html.ActionLink("Create Room", "Create", "Room")</button>
<button>@Html.ActionLink("Edit Room", "Edit", "Room")</button>
<button>@Html.ActionLink("Delete Room", "Delete", "Room")</button>
<button>@Html.ActionLink("Index Room", "Index", "Room")</button>
