
@model UniversityManagementWebDotNet.Models.DAO.Course

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<button>@Html.ActionLink("Create Course", "Create", "Course")</button>
<button>@Html.ActionLink("Edit Course", "Edit", "Course")</button>
<button>@Html.ActionLink("Delete Course", "Delete", "Course")</button>
<button>@Html.ActionLink("Index Course", "Index", "Course")</button>
