@model UniversityManagementWebDotNet.Models.DAO.Semister

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<button>@Html.ActionLink("Create Semister", "Create", "Semister")</button>
<button>@Html.ActionLink("Edit Semister", "Edit", "Semister")</button>
<button>@Html.ActionLink("Delete Semister", "Delete", "Semister")</button>
<button>@Html.ActionLink("Index Semister", "Index", "Semister")</button>