@model UniversityManagementWebDotNet.Models.DAO.Faculty

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<button>@Html.ActionLink("Create Faculty", "Create", "Faculty")</button>
<button>@Html.ActionLink("Edit Faculty", "Edit", "Faculty")</button>
<button>@Html.ActionLink("Delete Faculty", "Delete", "Faculty")</button>
<button>@Html.ActionLink("Index Faculty", "Index", "Faculty")</button>

